<div class="row" id="footer">
  <div class="col-1"></div>
  <div class="col-3 footer-content-section">
    <p><span class="footer-content">Aplicación para móvil</span></p>
    <p><span class="footer-content">Empleo</span></p>
  </div>
  <div class="col-3 footer-content-section">
    <p><span [routerLink]="['/about']" class="footer-content">Acerca de nosotros</span></p>
    <p><span class="footer-content">Centro de ayuda</span></p>
  </div>
  <div class="col-3 footer-content-section">
    <p><span class="footer-content">Cookies</span></p>
    <p><span class="footer-content">Condiciones y privacidad</span></p>
  </div>
  <div class="col-2">
    <img src="favicon.ico" class="logo" alt="EasyPhysio">
  </div>
</div>
