<div class="fill-header-space"></div>
<div class="aboutus-page">
  <div class="aboutus-container">
    <img style="float: left" src="../../assets/maps.jpg" width="300" height="300" alt="mapa">
    <h1 [routerLink]="['/login']">Iniciar sesión</h1>
    <h1 [routerLink]="['/signup']">Registrarse</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent quis risus et felis venenatis vehicula non et leo. Donec vitae ligula et lacus ullamcorper imperdiet sit amet quis mi. Fusce non sapien eleifend, laoreet lacus vel, tristique odio. Mauris at neque suscipit, tristique mauris tristique, congue augue. Integer fringilla mi arcu, laoreet rhoncus nulla interdum sed. Integer a dui sit amet mi pretium ultricies. Nullam imperdiet turpis at massa cursus, semper blandit sem dignissim. Aenean dapibus nibh varius erat porttitor pellentesque. Duis et tempor leo. Donec condimentum ipsum eget magna feugiat, at efficitur sapien posuere. Quisque viverra accumsan nisi, quis rhoncus libero pharetra non. Proin vel odio sed nisl semper aliquet eu non lacus. Nunc lacus orci, eleifend in diam vitae, venenatis sollicitudin ante. Fusce vitae sem nec metus pellentesque condimentum. Proin cursus nec libero a dictum. Sed mattis pellentesque sem, ut volutpat erat pellentesque sit amet.</p>
  </div>
</div>
