$primary-color: #E8B1A9;
$secondary-color: #B3C7E6;
$secondary-color-hover: #8EB4E9;
$tertiary-color: #D8E6AE;
$tertiary-color-hover: #c5da87;
$dark-grey: #8C898F;
$warn-color: #f08080;
$warn-color-hover: #ed6969;
$edit-color: #4dd2ff;
$edit-color-hover: #1ac5ff;
$physio1-color: #63208A;
$physio2-color: #755017;
$physio3-color: #A80907;
$physio4-color: #2C5F73;

