@import '../variables';

.report-page {
  display:flex;
  justify-content:center;
  background-color: $primary-color;

  .report-container {
    padding-top: 10vh;
    margin: 2vh 0 11vh 0;
    width: 75vw;
    background-color: white;

    .report-stats {
      margin-left:auto;
      margin-right:auto;
      height: 400px;
      width: 900px;
    }
  }
}

.radio-button-container {
  margin: 3vh 0 12vh 0;

  .text-align-center {
    text-align: center;

    .input-report {
      width: 20px;
    }
  }
}

.gauge-buttons-container {
  position: relative;
  bottom: 15vh;
}
