<div *ngIf="data.appointments.length === 1">
  <div class="container-close-modal">
    <span class="icon-close-modal" (click)="closeDialog()">X</span>
  </div>
  <div class="header-modal">
    {{data.title}}
  </div>
  <form #appointmentForm="ngForm" (ngSubmit)="appointmentForm.form.valid && onSubmitAppointment(data.appointments[0])">
    <div class="row row-modal">
      <div class="col-6">
        <mat-label class="label-modal" for="patient">Paciente:</mat-label>
        <mat-form-field floatLabel="never" [hideRequiredMarker]="true">
          <input [disabled]="!canCreate"
                 matInput
                 type="text"
                 id="patient"
                 class="form-control"
                 placeholder="Nombre del paciente"
                 name="patientName"
                 required
                 [(ngModel)]="data.appointments[0].treatment.patient.name">
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-label class="label-modal" for="room">Sala:</mat-label>
        <mat-form-field floatLabel="never" [hideRequiredMarker]="true">
          <input matInput
                 type="number"
                 id="room"
                 class="form-control"
                 placeholder="Elija sala"
                 name="room"
                 required
                 [(ngModel)]="data.appointments[0].roomNumber">
        </mat-form-field>
      </div>
    </div>
    <div class="row row-modal">
      <div class="col-12">
        <mat-label class="label-modal" for="reasonAppointment">Motivo de la cita:</mat-label>
        <mat-form-field floatLabel="never" [hideRequiredMarker]="true">
            <textarea  matInput
                       cdkTextareaAutosize
                       cdkAutosizeMinRows="3"
                       cdkAutosizeMaxRows="5"
                       id="reasonAppointment"
                       class="form-control"
                       placeholder="Motivo de la cita"
                       name="reasonAppointment"
                       required
                       [(ngModel)]="data.appointments[0].reasonAppointment">
            </textarea>
        </mat-form-field>
      </div>
    </div>
    <div class="row row-modal">
      <div class="col-6">
        <mat-label class="label-modal" for="dateAppointment">Fecha de la cita:</mat-label>
        <mat-form-field floatLabel="never" [hideRequiredMarker]="true">
          <input matInput
                 class="form-control"
                 name="dateAppointment"
                 id="dateAppointment"
                 placeholder="Elija una fecha"
                 [matDatepicker]="picker"
                 [matDatepickerFilter]="filteringSatAndMonday"
                 required
                 disabled
                 [(ngModel)]="data.appointments[0].startAppointment">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker disabled="false" color="accent"></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-label class="label-modal" for="startAppointment">Hora de la cita:</mat-label>
        <mat-form-field floatLabel="never" [hideRequiredMarker]="true">
          <select class="form-control"
                  required
                  matNativeControl
                  name="startAppointment"
                  id="startAppointment"
                  [(ngModel)]="selectedHour[0]">
            <option *ngFor="let workingHour of workingHours"
                    [value]="workingHour">
              {{workingHour}}
            </option>
          </select>
        </mat-form-field>
      </div>
    </div>
    <div class="footer-modal">
      <button *ngIf="canEdit" type="submit" class="button edit-btn">Editar</button>
      <button *ngIf="canDelete"
              type="button"
              class="button delete-btn"
              (click)="deleteAppointment(data.appointments[0])">Borrar</button>
      <button *ngIf="canCreate"
              type="submit"
              class="button create-btn">Crear</button>
      <button type="button" class="button cancel-btn" (click)="closeDialog()">Cancelar</button>
    </div>
  </form>
</div>


<div *ngIf="data.appointments.length > 1">
  <div class="container-close-modal">
    <span class="icon-close-modal" (click)="closeDialog()">X</span>
  </div>
  <div class="header-modal">
    {{data.title}}
  </div>
  <form #appointmentsListForm="ngForm"
        (ngSubmit)="appointmentsListForm.form.valid && onSubmitListAppointments(data.appointments)">
    <div class="row" id="list-appointments-container">
      <div [ngClass]="addPhysioColor(appointment.treatment.physio.dni)"
           class="col-5 list-appointments-modal"
           *ngFor="let appointment of data.appointments; let i = index">
        <div class="container-close-modal">
          <span class="icon-delete-appointment" (click)="deleteAppointment(appointment)">X</span>
        </div>
        <div>
          <mat-label class="label-modal" [attr.for]="'patient' + i">Paciente:</mat-label>
          <mat-form-field floatLabel="never" [hideRequiredMarker]="true">
            <input [disabled]="!canCreate"
                   required
                   matInput
                   type="text"
                   id="patient{{i}}"
                   class="form-control"
                   placeholder="Nombre del paciente"
                   name="patient{{i}}"
                   [(ngModel)]="appointment.treatment.patient.name">
          </mat-form-field>
        </div>
        <div>
          <mat-label class="label-modal" [attr.for]="'room' + i">Sala:</mat-label>
          <mat-form-field floatLabel="never" [hideRequiredMarker]="true">
            <input matInput
                   required
                   type="number"
                   id="room{{i}}"
                   class="form-control"
                   placeholder="Elija sala"
                   name="room{{i}}"
                   [(ngModel)]="appointment.roomNumber">
          </mat-form-field>
        </div>
        <div>
          <mat-label class="label-modal" [attr.for]="'reasonAppointment' + i">Motivo de la cita:</mat-label>
          <mat-form-field floatLabel="never" [hideRequiredMarker]="true">
              <textarea  matInput
                         cdkTextareaAutosize
                         cdkAutosizeMinRows="3"
                         cdkAutosizeMaxRows="5"
                         id="reasonAppointment{{i}}"
                         class="form-control"
                         placeholder="Motivo de la cita"
                         name="reasonAppointment{{i}}"
                         required
                         [(ngModel)]="appointment.reasonAppointment">
              </textarea>
          </mat-form-field>
        </div>
        <div>
          <mat-label class="label-modal" [attr.for]="'dateAppointment' + i">Fecha de la cita:</mat-label>
          <mat-form-field floatLabel="never" [hideRequiredMarker]="true">
            <input matInput
                   required
                   disabled
                   name="dateAppointment"
                   id="dateAppointment{{i}}"
                   [matDatepicker]="picker"
                   [matDatepickerFilter]="filteringSatAndMonday"
                   [(ngModel)]="appointment.startAppointment">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker disabled="false" #picker color="accent"></mat-datepicker>
          </mat-form-field>
        </div>
        <div>
          <mat-label class="label-modal" [attr.for]="'startAppointment' + i">Hora de la cita:</mat-label>
          <mat-form-field floatLabel="never" [hideRequiredMarker]="true">
            <select required
                    matNativeControl
                    name="startAppointment"
                    id="startAppointment{{i}}"
                    [(ngModel)]="selectedHour[i]">
              <option *ngFor="let workingHour of workingHours"
                      [value]="workingHour">
                {{workingHour}}
              </option>
            </select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="footer-modal">
      <button *ngIf="canEdit"
              type="submit"
              class="button edit-btn">Editar</button>
      <button type="button" class="button cancel-btn" (click)="closeDialog()">Cancelar</button>
    </div>
  </form>
</div>
