@import "src/app/variables";

mat-form-field {
  width: 70%;
  float: left;
  clear: both;
}

#list-appointments-container {
  overflow: auto;
  height: 58vh;
}

.errorCustom {
  color: $dark-red
}

#date-appointment-container, #date-appointment-container-list {
  .mat-form-field-underline {
    background-color: black;
  }
  .dateAppointment::placeholder {
    color: $dark-red;
  }
}

.calendar-icon-modal {
  position: relative;
  top: 5px;
  &:hover {
    color: $tertiary-color;
  }

  .mat-icon-button.mat-button-disabled.mat-button-disabled {
    color: rgba(0, 0, 0, 0.54);
    cursor: not-allowed;
  }
}

.calendar-icon-modal-list {
  position: relative;
  bottom: 5px;
  color: white;
  &:hover {
    color: $tertiary-color;
  }

  .mat-icon-button.mat-button-disabled.mat-button-disabled {
    color: white;
    cursor: not-allowed;
  }
}

.container-close-modal {
  min-height: 5vh;
  display: flex;
  justify-content: flex-end;
}

.icon-close-modal, .icon-delete-appointment {
  padding: 5px 10px;
  margin: 15px 15px 0 0;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

.icon-close-modal:hover {
  background-color: $tertiary-color;
}

.icon-delete-appointment:hover {
  color: $dark-red;
  background-color: white;
}

.header-modal {
  padding: 2vh;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid $secondary-color;
  font-weight: bold;
  font-size: 20px;
}

.footer-modal {
  width: 100%;
  display: flex;
  justify-content: center;
  border-top: 1px solid $secondary-color;
  padding: 2vh;
  position: absolute;
  bottom: 0;
}

.row-modal {
  margin: 5vh 0;
  padding: 0 5vw;
}

.label-modal {
  font-weight: bold;
  float: left;
  clear: both;
}

.list-appointments-modal {
  border: 1px solid black;
  margin: 3vh 0 3vh 4vw;
  border-radius: 10px;
}

.no-border {
  border: 0;
}

.bottom-lift {
  bottom:15px;
}

.custom-form-field-container {
  .custom-form-field {
    background-color: white;
    padding: 10px 0 10px 10px;
  }

  .dateAppointmentClickable {
    cursor: pointer;
  }

  .custom-disabled {
    cursor: not-allowed;
  }
}

.mat-select-disabled {
  .mat-select-value {
    color: black;
    cursor: not-allowed;
  }
}
