.main-container {
  background-color: deepskyblue;
}

.align-center {
  text-align: center;
}

.grid-scheduler {
  border: 1px solid black;
  height: 100px;
}

.height-first-row {
  height: 60px;
}

.first-column {
  height: 100px;
  padding-left: 15px
}

.transform-first-row-text {
  transform: translate(0px, -10px);
}

.last-item-first-row {
  height: 130px;
  padding-left: 15px;
}

.transform-last-item-first-row-text {
  transform: translate(0px, -15px);
}

.empty-space {
  height: 100px;
  margin:15px 0;
  background: grey;
}

.example-list {
  height: 100px;
  display: flex;
  flex-direction: row;
  border: 1px solid red;
}

.example-box {
  padding: 10px;
  cursor: move;
  background: greenyellow;
  flex-grow: 1;
  flex-basis: 0;
  border-radius: 10px;
}

.header-container {
  min-height: 20vh;
}

.calendar-container, .physios-container {
  text-align: center;
  padding: 5vh;
}
