@import '../variables';

#datepicker-input {
  visibility: hidden;
  width: 0;
}

#date-to-display {
  font-weight: bold;
  margin: 0 5px;
}

#calendar-icon:hover {
  color: $tertiary-color;
}

.align-center {
  text-align: center;
}

.first-column {
  height: 5vh;
  text-align: center;
}

.drop-list-grid {
  height: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid $secondary-color;
}

.cdk-drop-list-dragging {
  cursor: grabbing;
}

.calendar-container {
  border-bottom: 1px solid $secondary-color;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3vh 0;
  min-height: 10vh;
}

.disable-non-working-hours {
  background-color: $primary-color;
  cursor: not-allowed;
}

.arrow {
  margin-left: 10px;
  cursor: pointer;
  padding: 0 10px;
  font-size: 24px;
  border-radius: 20px;
}

.arrow:hover {
  background-color: $tertiary-color;
}

.grid-container {
  height: 72vh;
  overflow: auto;
}

.weekdays-container {
  margin-top: 5vh;
}

.truncate-physios-names {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 10vw;
}
