<div class="main-container">
  <div class="row header-container">
    <div class="col-12 calendar-container">
      <p>
        <span (click)="populateWeekDays(-7)">< </span>
        <span>{{weekDays[0]}} - {{weekDays[4]}} {{monthsOfTheYear[recalculatedMonth]}}</span>
        <span (click)="populateWeekDays(7)"> ></span>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-1">

      <div class="height-first-row"></div>

      <div *ngFor="let row of numberRowsFirstColumn; let i = index">
        <div class="first-column">
          <p class="transform-first-row-text">{{i + 9}}:00pm</p>
        </div>
        <div class="first-column">
          <p class="transform-first-row-text">{{i + 9}}:30pm</p>
        </div>
      </div>

      <div class="last-item-first-row">
        <p class="transform-last-item-first-row-text">13:00pm</p>
      </div>

      <div *ngFor="let row of numberRowsFirstColumn; let i = index">
        <div class="first-column">
          <p class="transform-first-row-text">{{i + 16}}:00pm</p>
        </div>
        <div class="first-column">
          <p class="transform-first-row-text">{{i + 16}}:30pm</p>
        </div>
      </div>

      <div class="first-column">
        <p class="transform-last-item-first-row-text">20:00pm</p>
      </div>
    </div>

    <div class="col-11">
      <div class="row height-first-row">
        <div class="col" *ngFor="let day of daysOfTheWeek; let i = index">
          <p class="align-center">{{day}}</p>
          <p class="align-center">{{weekDays[i]}}</p>
        </div>
      </div>

      <div cdkDropListGroup class="scheduler-container" *ngIf="appointments.length > 0">
        <div *ngFor="let row of numberRowsGrid; let i = index"
             class="row">
          <div *ngFor="let col of numberCols; let j = index"
               cdkDropList
               cdkDropListOrientation="horizontal"
               [cdkDropListData]="appointments[i][j]"
               (cdkDropListDropped)="drop($event)"
               class="col drop-list-grid">
            <div *ngFor="let cita of appointments[i][j]"
                 cdkDragBoundary=".scheduler-container"
                 class="grid-scheduler"
                 cdkDrag>
              <p>{{cita.patientName}}</p>
              <p>Sala {{cita.roomNumber}}</p>
              <p>{{cita.reasonAppointment}}</p>
            </div>
          </div>
        </div>

        <div class="empty-space"></div>

        <div *ngFor="let row of numberRowsGrid; let i = index"
             class="row">
          <div *ngFor="let col of numberCols; let j = index"
               cdkDropList
               cdkDropListOrientation="horizontal"
               [cdkDropListData]="appointments[i+8][j]"
               (cdkDropListDropped)="drop($event)"
               class="col drop-list-grid">
            <div *ngFor="let cita of appointments[i+8][j]"
                 cdkDragBoundary=".scheduler-container"
                 class="grid-scheduler"
                 cdkDrag>
              <p>{{cita.patientName}}</p>
              <p>Sala {{cita.roomNumber}}</p>
              <p>{{cita.reasonAppointment}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
