@import '../variables';

#datepicker-input {
  visibility: hidden;
  width: 0;
}

#date-to-display {
  font-weight: bold;
  margin: 0 5px;
}

#calendar-icon:hover {
  color: $tertiary-color;
}

.align-center {
  text-align: center;
}

.first-column {
  height: 5vh;
  text-align: center;
}

.drop-list-grid {
  height: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid $secondary-color;
}

.cdk-drop-list-dragging {
  cursor: grabbing;
}

.calendar-container {
  border-bottom: 1px solid $secondary-color;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 10vh;
}

.disable-non-working-hours {
  background-color: $primary-color;
  cursor: not-allowed;
}

.arrow {
  margin-left: 10px;
  cursor: pointer;
  padding: 0 10px;
  font-size: 24px;
  border-radius: 20px;
}

.arrow:hover, .weekdays-style:hover {
  background-color: $tertiary-color;
}

.grid-container {
  height: 70vh;
  overflow: auto;
}

.weekdays-container {
  margin-top: 5vh;
}

.truncate-physios-names {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 10vw;
}

.weekdays-style {
  cursor: pointer;
  font-size: 22px;
  color: $day-color;
  padding: 0.8vh;
  border-radius: 20px;
}

.header-icons {
  color: $secondary-color;
  font-size: 30px;
  margin-right: 1vw;
  cursor: pointer;
}

.header-icons:hover {
  color: $secondary-color-hover;
}

.item-sidenav:hover .sidenav-icons {
  color: white;
}

.sidenav-icons {
  color: $secondary-color;
  font-size: 25px;
  margin-left: 1vw;
  cursor: pointer;
}

.header-container {
  text-align: end;
  padding-top: 2vh;
}

.sidenav-custom {
  width: 20vw;
  text-align: center;
}

.item-sidenav {
  font-size: 16px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7vh;
  cursor: pointer;
  border-bottom: 1px solid black;
}

.item-sidenav:hover {
  background-color: $secondary-color;
  font-weight: bold;
}
