@import '~@angular/material/theming';
@import "app/variables";

@include mat-core();

$primary: (
  500: black,
  contrast: (
    500: black,
  )
);

$accent: (
  500: $tertiary-color,
  contrast: (
    500: $dark-primary-text,
  )
);

$warn: (
  500: $physio3-color,
  contrast: (
    500: $physio3-color,
  )
);

$candy-app-primary: mat-palette($primary);
$candy-app-accent:  mat-palette($accent);
$candy-app-warn: mat-palette($warn);

$candy-app-theme: mat-light-theme((
  color: (
    primary: $candy-app-primary,
    accent: $candy-app-accent,
    warn: $candy-app-warn
  )
));

@include angular-material-theme($candy-app-theme);
